// Place all the styles related to the Docs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.wrapper_with_padding {
  margin: 0 auto;
  text-align: center;
  width: 60%;

  .clear-fix {
    margin-top: 30px;
  }

  a {
    text-decoration: none;
  }

  .doc {
    border: solid 1px #ccc;
    border-radius: 2px;
    box-shadow: 8px 8px 3px #ccc;
    padding-left: 20px;
    margin-bottom: 20px;
    color: black;

    h3 {
      text-transform: uppercase;
      font-size: 25px;
    }

    .date {
      text-align: left;
      font-size: 12px;
    }
  }

  // .title-label:after {
  //   content:"\000A";
  //   white-space: pre;
  // }
  //
  .title-input {
    width: 85%;
    height: 30px;
    border-radius: 3px;
    padding: 2px;
  }

  .content-text {
    width: 83%;
    height: 300px;
    border-radius: 3px;
    padding: 10px;
  }

  .title-label, .content-label {
    display: block;
    clear: both;
    text-align: left;
    margin-left: 70px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 18px;
    font-weight: bolder;
  }

  .button {
    display: block;
    clear: both;
    margin-left: 70px;
    margin-top: 10px;

    padding: 15px 40px 15px 40px;
    background-color: #678934;
    border: none;
    border-radius: 2px;
  }
}


.wrapping {


  .doc-show {
    margin: 0 auto;
    width: 60%;
    border: solid 1px #ccc;
    padding: 10px;
    box-shadow: 4px 6px 4px #ccc;
    border-radius: 3px;

    h3 {
      font-size: 28px;
      border-bottom: solid 1px #ccc;
    }

    p {
      line-height: 160%;
      letter-spacing: 0.8px;
    }
  }

  .button-container {
    margin: 0 auto;
    text-align: center;

    margin-top: 45px;
    margin-bottom: 40px;

    .button {
      border: solid 3px #ccc;
      padding: 10px;
      color: #678934;
      text-decoration: none;
    }
  }
}
